
.grid-container {
    padding-top: 50px;
}

.card {
    text-align: center;
    width: 275px;
    height: 400px;
    border-color: black;

}

h4 {
    font-size: larger;
    text-decoration: underline;
    font-weight: bold;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
