header {
}

.card {
    text-align: center;
    width: 275px;
    height: 400px;
    border-color: black;; 
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
