.top-bar {
    box-shadow: 7px 11px 5px -5px black;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #7395ae;
}

header, .top-bar {
    background-color: lightgray;
    font-family: fantasy;
}

.grid-container {
    padding-top: 50px;
}

.grid-x {
    margin-top: 20px;
}

.card {
    text-align: center;
    width: 100%;
    border-color: black;
    background-color: #d8d9da;
    box-shadow: 7px 11px 5px -5px black;
}

.button {
    border-radius: 0.5rem;
}

button:focus {
    outline: none;
}

.top20 {
    margin-top: 1rem;
}

h4, #links {
    font-size: x-large;
    text-decoration: underline;
    font-weight: bold;
    color: #5d5c61;
}

a {
    color: black;
}

footer {
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #5d5c61;
}

#footerstuff {
    box-shadow: 7px 11px 5px -5px black;
}

#links {
    color: blue;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 15px;
    width: 100%;
    height: 100%;
    overflow: auto;
}
  
.modal-content {
    background-color: white;
    margin: auto;
    padding: 10px;
    border: 1px;
    border-radius: 0.5rem;
    border: 2px solid red;
    width: 60%;
}

.errorText {
    margin-top: 10px;
    color: red;
    text-align: center;
    font-size: 25px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


img {
    border: 1px solid;
    padding: 2px;
    box-shadow: 2px 5px #3b3b3b;
    margin: 6px
}